
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700;800&display=swap');

:root {
  --bg-dark: #0a0a0a;
  --bg-card: #161616;
  --accent-orange: #ff4b00;
  --text-dim: #444;
  --font-main: 'Space Grotesk', sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: #ffffff;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}